@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #221F1F;
    --text-color: #fff;
}

body {
    background-color: var(--background-color);
    margin: 0;
    font-family: Arial, sans-serif;
}